
<div class="jumbotron" id="home-jumbotron">
  <div class="jumbotron-contents">
    <h1>Your Custom Software House</h1>
    <p>The <strong>Software</strong> you Like . The <strong>Technology</strong> you Deserve . The <strong>Automation</strong> you Need</p>
    <p><a class="btn btn-lg btn-clear" href="#" role="button">Learn more</a></p>
  </div>
</div>

<div class="container">
  <div class="row" id="process">
    <div class="process-step">
      <div class="process-image">
        <%= image_tag('icon_consult.png') %>
      </div>
    </div>
    <div class="process-step">
      <div class="process-image with-line">
        <%= image_tag('icon_develop.png') %>
      </div>
    </div>
    <div class="process-step">
      <div class="process-image with-line">
        <%= image_tag('icon_results.png') %>
      </div>
    </div>
  </div>
</div>