body, html {
  position: relative;
}

.btn-clear {
  background: transparent;
  color: white;
  border-color: white;
  &:hover, &:focus, &:active {
    color: white;
    background: rgba(0,0,0,0.5);
    border-color: white;
  }
}