<!DOCTYPE html>
<html>
<head>
  <title>Conjur Technologies</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,600,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- See: https://github.com/jlmakes/scrollReveal.js/wiki/Tips#making-sure-your-elements-load-hidden -->
  <style>[data-sr] { visibility: hidden; }</style>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70608575-1', 'auto');
      ga('send', 'pageview');
  </script>
</head>
<body data-spy="scroll" data-target="#navbar-conjur" data-offset="0">

<%= yield %>

</body>
</html>
